* {box-sizing: border-box;}

body { 
  margin: 0;
  background-color: rgb(245,245,245);
}

.header {
  width: 100%;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 2px 7px -5px;
  position: fixed;
  z-index: 9999;
}
.head-container{
  width: 1200px;
  margin:auto;
}
.header a {
  float: left;
  color: rgb(80, 23, 23);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  line-height: 5px;
  border-radius: 5px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
 
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

/* .header a.active {
  background-color: dodgerblue;
  color: white;
} */

/* .header-right {
  float: right;
} */

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  /* .header-right {
    float: none;
  } */
}