* {
    box-sizing: border-box;
  }
  .container{
      position: relative;
      background: rgb(255, 255, 255);
      padding-top: 70px !important;
      margin: auto;
      max-width: 1200px;
  }
  .cards {
    /* max-width: 1200px; */
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    padding: 15px;
  }

  .card {
    color: white;
    height: 420px;
  }
  .card-category{
    background: #ffffff;
    border-radius: 10px;
    color: #0d0d0d !important;
    width:fit-content;
    height:fit-content;
    padding: 2px 20px;
  }
  .xop-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 15px;
  }

  .xop-box:hover {
	opacity: 0.8;
  }
  .xop-info {
    position: absolute;
    bottom: 0px;
    width: inherit;
    height: inherit;
    margin-top: 270px;
    padding: 10px 7px 0px 10px;
    height: 145px;
    background: rgb(0 0 0/50%);
    border-radius: 14px;
}

.xop-info h3 {
  /* font-family: 'Pacifico', cursive; */
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  margin: 0px;
  padding: 5px 0 0 0;
  line-height: 1.3;
  height: 85px;
  overflow: hidden;
}

.xop-info p {
    font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	/* padding: 4px 5px; */
	margin: 0px;
	font-size: 15px;
	line-height:1;
    padding-top: 3px;
}

.xop-info h2{
        /* font-family: 'Pacifico', cursive; */
        font-weight: 400;
        color: rgb(0, 0, 0);
        font-size: 20px;
        margin: 0px;
        /* padding: 100px 0 0 0; */
        /* line-height: 1.5; */
        width: 100px;
        background: rgb(255, 255, 255);
        padding: 1px 15px;
        border-radius: 10px;
}

.xop-img-1 { 
    background: 
       linear-gradient(
         rgba(0, 0, 0, 0.50), 
         rgba(0, 0, 0, 0.10)
       ),url(../../public/1.jpeg);
       object-fit: cover;
   }


  @media (min-width: 650px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
    
  }
  @media (min-width: 880px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }
  @media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 800px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .firstContainer{
        margin: 0px 10px;
    }
}
@media screen and (max-width: 500px) {
  .firstContainer {
    margin: 0px auto;
}
}