.footer {
    background: rgb(0, 0, 0);
    padding: 1rem;
    display: grid;
    text-align: center;
    color: aliceblue;
    z-index: 9999;
    position: relative;
    clear: both;
    height: 100px;
    margin-top: auto;
  }

  .pageList{
      display: flex;
      justify-content: space-around;
      display: block;
      padding: 15px;
      padding-top: 5px !important;

  }
  .pageList a{
    text-decoration: none;
    color: white;
    padding: 20px 10px;
  }

  .socialMedia{
      display: flex;
      justify-content: space-around;
      display: block;
      padding: 10px;
  }


  
  .socialMedia i{
    font-size: 35px;
    padding: 0px 10px 10px 10px;
    cursor: pointer;
  }