.row{
    display: flex;
    padding: 0px 60px;
}
.leftcolumn {   
  float: left;
  width: 75%;
  padding: 10px 0 0 0;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  margin-top: 10px;
  padding: 0px 20px 20px 20px;
  background: whitesmoke;
}

/* Add a card effect for articles */
.card2 {
   background-color: white;
   padding: 0px 20px 20px 20px;
   margin-top: 0px;
}

.adds {
    background-color: rgb(184, 183, 183);
    height: 400px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card3{
    margin: 0px !important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -5px;
    transition: 0.2s;
  }
.card3:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.5);
}
  
  .card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 10px;
  }

  .card3-category{
    background: #000000;
    border-radius: 10px;
    color: white;
    width:fit-content;
    height:fit-content;
    padding: 2px 20px;
    margin: 5px 0px 5px 0px;
    font-size: 15px;
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .card-header {
    font-size: 1.2rem;
    font-weight: 550;
    color: #0d0d0d;
    margin-bottom: 0px;
    height: 63px;
    overflow: hidden;
  }
 .card-date{
    letter-spacing: 0.1rem;
    color: #afafaf;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 0px;
 }
  .card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    color: #3d3d3d;
    font-size: 1rem;
    margin-bottom: 1rem;
    
  }
  
  .lowerSection{
    display: grid;
    padding-top: 20px;
    grid-template-rows: repeat(4,auto);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .rightcolumn {   
     display: none;
    }
    .row{
      justify-content: center;
      padding: 0px 10px;
    }
    .leftcolumn {  
        width: 100%;
      }
      .lowerSection { grid-template-columns: repeat(1, 1fr); }
}
@media (min-width: 1350px) {
  .lowerSection { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1600px) {
  .lowerSection { grid-template-columns: repeat(4, 1fr); }
}