html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

.bg {
  background-color: #fff;
  min-height: 90vh;
  padding: 10px 30px 30px 30px !important;
}
.page-wrap {
  margin: 5px 0px 0px 0px;
}


* {
  box-sizing: border-box;
}
.button-class {
  width: 50%;
  padding: 20px;
  font-size: 26px;
  color: #fff;
  background: #000;
  cursor: pointer;
}


.data-pagination,
.data-pagination *,
.data-pagination *:before,
.data-pagination *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
.data-pagination {
  font-size: 8pt;
  line-height: 1;
  font-weight: 400;
  font-family: "Open Sans", "Source Sans Pro", Roboto, "HelveticaNeue-Light",
    "Helvetica Neue Light", "Helvetica Neue", "Myriad Pro", "Segoe UI", Myriad,
    Helvetica, "Lucida Grande", "DejaVu Sans Condensed", "Liberation Sans",
    "Nimbus Sans L", Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  transition: font-size 0.2s ease-in-out;
}
.data-pagination ul {
  list-style-type: none;
  display: inline;
  font-size: 140%;
  margin: 0;
  padding: 0.5em;
}
.data-pagination ul li {
  display: inline-block;
  font-size: 140%;
  width: auto;
  border-radius: 3px;
  font-size: 100%;
  padding: 0.5em;
  cursor: pointer;
}
.data-pagination > a {
  font-size: 140%;
}
.data-pagination a {
  color: #777;
  font-size: 100%;
  padding: 0.5em;
}
.data-pagination li:focus,
.data-pagination li:hover {
  color: #f60;
}
.data-pagination li.current {
  background: rgba(0, 0, 0, 0.1);
}
/* Disabled & Hidden Styles */
.data-pagination .disabled,
.data-pagination .hidden,
.data-pagination .disabled {
  opacity: 0.5;
  pointer-events: none;
}

.lowerSection{
  display: grid;
  padding-top: 20px;
  grid-template-rows: repeat(4,auto);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.related-data{
  padding: 10px;
}